<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <!--Specify where the installation files will be placed-->
    <!--TARGETDIR and SourceDir are keywords-->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!--points to 32 bit folder (ProgramFilesFolder) or 64 bit folder (ProgramFiles64Folder)-->
      <!--INSTALLFOLDER is a keyword-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" />
      </Directory>

      <!--Start Menu programs menu folder-->
      <!--ProgramMenuFolder is a keyword-->
      <!--InstallProgramMenuFolder is a user variable-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductFolderName)"/>
      </Directory>

    </Directory>
  </Fragment>

</Wix>
